.videocard {
    color: white;
    width: 380px;
    height: 280px;
    transition : transform 100ms ease-in-out;
    margin-left: 50px;
}
.videocard:hover {
    transform: scale(1.09);
}
.videocard > img {
    margin-top: 30px;
    object-fit: contain;
    width: 300px;
}
.videocardtitle{
    margin-bottom: 10px;
}
.videocard_stats{
    display: none;
}
.videocard:hover > .videocardtitle > .videocard_stats {
    display: inline-flex !important;
}